*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
  
}
body{
  font-family: "Open Sans", sans-serif;
}
/* navbar */
main{
  display: flex;
  background-color: #f6f7f9;
  
}




nav{
  display: flex;
  align-items: center;
  background-color:#4D636F;
  height: 53.8px;
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
}
nav a{
  color: white;
}




.profile img{
  width: 23px;
  height: 23px;
  border-radius: 20px;
}
.profile{
  margin-left: 1000px;
}
.profile:hover{
  background-color:  white;
}

.logo{
  font-size: 18px;
  background-color:#344c59;
  height: 53.8px;
  width: 116.6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo i{
  padding: 0 15px;
  font-size: 13.5px;
}
.logo:hover{
    background-color:  #CCCCCC;
}


.elements{
  font-size: 20px;
  background-color:#4D636F;
  height: 53.8px;
  width: 116.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 130px;
}
.elements i{
  padding: 0 25px;
  font-size: 18px;
}
.elements i:hover{
  background-color:  white;
  color: black;
  padding: 18px 25.5px;
}


img{
  width: 100px;
  height: 100px;
}




section{
margin: 6.5% 1% 2.5% 1%;
}




.my-profile{
  
height: 315px;
width: 310px;
background-color: white;
display: flex;
flex-direction: column;
border-radius: 4px;
box-shadow: 0 0 10px #bcc0c2;
padding: 10px 20px 0 20px;
}
.my-profile span{
 padding: 8px 0 15px 0;
 display: flex;
 justify-content: center;
 font-size: 21px;
}
.my-profile img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: 80px;
  margin-bottom: 25px;
  
}
.p p{
  padding: 0 0 18px 0;
  font-size: 16px;
}
.p{
  padding-top: 20px;
  border-top: #ece8e8 1px solid;
}
.p i{
  padding: 0 15px 0 0 ;
  font-size: 13px;
  color:#7d97a4;
}





.about{
height: 111.5px;
width: 310px;
background-color:#7d97a4;
font-size: 15px;
box-shadow: 0 0 10px #bcc0c2;
}
.about a{
  display: block;
  padding: 10px 20px ;
  color: white;
  
}
.about a i{
  padding: 0 15px 0 0 ;
  font-size: 15px;
}

.about a:hover{
color: black;
background-color:  #CCCCCC;
}






.tags{
  height: 150px;
  width: 310px;
  padding: 2px;
  background-color:  white;
  padding: 2px ;
  font-size: 15px;
  font-family: serif;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 0 10px #bcc0c2;
}
.tags span{
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  margin: 0 20px;
  font-weight: lighter;
 }

 .tag1{
  padding-top:20px ;
 }
#ta{
  display: flex;
  gap: 3px;
  margin:4px 0 4px 20px;
        
}

#ta p{
   padding:5px 7.3px;
   font-size: 12px;
   font-family:Arial, Helvetica, sans-serif;
   line-height: 10px; 
    
}

#news{
  background-color: #303E45;
  color: white;
}
#w3schools{
  background-color: #3A4B53;
  color: white;
}
#labels{
  background-color: #435761;
  color: white;
}
#games{
  background-color: #4D636F;
  color: white;
}
#friends{
  background-color: #57707D;
  color: white;
}
#game{
  background-color: #607D8B;
  color: white;
}
#friend{
  background-color: #7D97A5;
  color: white;
}
#food{
  background-color: #9EB1BB;
  color: black;
}
#design{
  background-color: #BECBD2;
  color: black;
}
#art{
  background-color: #DFE5E8;
  color: black;
}
#photographs{
  background-color: #F5F7F8;
  color: black;
}








.nb{
  
  background-color: #DFE5E8;
  height: 130px;
  width: 310px;
  border-radius: 4px;
  box-shadow: 0 0 10px #bcc0c2;
}
.nb span{
  display: flex;
  justify-content: first baseline;
  margin:0 20px;
  font-size: 17px;
  padding: 20px 0 20px 0;
}
.nb p{
  padding: 0  0 10px 0;
  margin: 0 0 0 20px;
  font-size: 16px;
}





.status{
 background-color: white;
 display: flex;
 flex-direction: column;
 padding: 8px 16px 8px 16px;
 gap: 15px;
 height: 165px;
 width: 700px;
 border-radius: 4px;
 box-shadow: 0 0 10px #bcc0c2;
}
.status span{
 padding: 16px 0 0 0;
 font-size: 15px;
 color: #888484;
 
}
.status input{
 padding: 12px 0;
 font-size: 15px;
 border:  1px solid #a4a4a4;
 
}
.status input::placeholder{
 color: #1d2326;
 padding: 15px 18px;
}

.status button{
 width: 82px;
 padding: 10px 0;
 font-size: 15px;
 background-color: #607d8b;
 border: none;
 color: white;
}
.status button:hover{
color: black;
background-color:  #CCCCCC;
}
button i{
  padding: 0 5px 0 0 ;
  font-size: 18px;
}




.john-doe{
 height: 495px;
 width: 700px;
 padding: 8px 16px 8px 16px;
 background-color: white;
 border-radius: 4px;
 box-shadow: 0 0 10px #bcc0c2;
}
.john{
 display: flex;
 padding: 15px 0 30px 0;
 font-size: 15px;
 color: #888484;
 border-bottom: #ece8e8 1px solid;
}
.john img{
 border-radius: 100px;
 height: 59.8708px;
 width: 59.991px;
}
.john span{
 padding-left: 430px;
}
.john h3{
 padding: 20px 0 0 13px;
 font-size: 25px;
 color: #1d2326;
 font-weight: 100;
}
.john-doe p{
 padding: 15px 0;
 font-size: 15px;
 color: #1d2326;
 font-family: "Open Sans", sans-serif;
 line-height: 22.5px;
}
.john-doe .images{
 display: flex;
 gap: 15px;
 padding: 0 0 15px 0;
}
.images img{
 height: 220px;
 width: 327px;
}
.john-doe .button{
display: flex;
gap: 3px;
}
.button button{
 padding: 8px 16px;
 font-size: 16px;
 background-color: #607d8b;
 border: none;
 color: white;
 
}
.button button:hover{
color: black;
background-color:  #CCCCCC;
}


.jane-doe{
 height: 273px;
 width: 700px;
 padding: 8px 16px 8px 16px;
 background-color: white;
 border-radius: 4px;
 box-shadow: 0 0 10px #bcc0c2;
}
.jane{
 display: flex;
 padding: 15px 0 30px 0;
 font-size: 15px;
 color: #888484;
 border-bottom: #ece8e8 1px solid;
}
.jane img{
 border-radius: 100px;
 height: 59.8708px;
 width: 59.991px;
}
.jane span{
 padding-left: 422px;
}
.jane h3{
 padding: 20px 0 0 13px;
 font-size: 25px;
 color: #1d2326;
 font-weight: 100;
}
.jane-doe p{
 padding: 20px 0;
 font-size: 15px;
 color: #1d2326;
 font-family: "Open Sans", sans-serif;
 line-height: 22.5px;
}



.angie-jane{
 height: 740px;
 width: 700px;
 padding: 8px 16px 8px 16px;
 background-color: white;
 border-radius: 4px;
 box-shadow: 0 0 10px #bcc0c2;
}

.angie{
display: flex;
padding: 15px 0 30px 0;
font-size: 15px;
color: #888484;
border-bottom: #ece8e8 1px solid;
}
.angie img{
border-radius: 100px;
height: 59.8708px;
width: 59.991px;
}
.angie span{
padding-left: 403px;
}
.angie h3{
padding: 20px 0 0 13px;
font-size: 25px;
color: #1d2326;
font-weight: 100;
}
.angie-jane p{
padding: 20px 0;
font-size: 15px;
color: #1d2326;
font-family: "Open Sans", sans-serif;
}
.image img{
height: 420px;
width: 668px;
}





.upcoming-events{
height: 306px;
width: 210px;
padding: 16px;
background-color: white;
display: flex;
flex-direction: column;
border-radius: 4px;
box-shadow: 0 0 10px #bcc0c2;
}
.upcoming-events span{
font-size: 15px;
display: flex;
justify-content: center;
}
.upcoming-events img{
height: 150px;
width: 180px;
padding: 16px 0;
}
.upcoming-events h6{
font-size: 15px;
display: flex;
justify-content: center;
padding-bottom:20px;
}
.upcoming-events p{
padding-bottom:16px;
font-size: 15px;
display: flex;
justify-content: center;
}
.upcoming-events button{
font-size: 15px;
background-color: #e0e5e9;
padding: 10px 0;
border: none;
}
.upcoming-events button:hover{
color: black;
background-color:  #CCCCCC;
}





.friendrequest{
height: 230px;
width: 210px;
background-color: white;
display: flex;
flex-direction: column;
border-radius: 4px;
font-size: 15px;
padding:0  ;
box-shadow: 0 0 10px #bcc0c2;
}
.friendrequest span{
font-size: 15px;
padding:16px 0;
display: flex;
justify-content: center;
}
.friendrequest img{
height: 90px;
width: 95px;
margin-left: 58.5px;
}
.friendrequest p{
font-size: 15px;
padding:3px 0 16px 0;
display: flex;
justify-content: center;
}
.friendrequest .buttons{
display: flex;
justify-content: center;
}
.accept{
font-size: 15px;
background-color: #94cf95;
padding: 10px 20px;
border: none;
color: #fcfffd;
}
.denie{
font-size: 15px;
background-color: #f98e86;
padding: 10px 20px;
border: none;
color: #fcfffd;
}
.friendrequest .buttons button:hover{
color: black;
background-color:  #CCCCCC;
}



.ads{
height: 106px;
width: 210px;
padding: 16px 0 16px 0;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
border-radius: 4px;
box-shadow: 0 0 10px #bcc0c2;
}



.insect{
height: 150px;
width: 210px;
padding: 16px 0 16px 0;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 4px;
box-shadow: 0 0 10px #bcc0c2;
}
.insect img{
height: 40px;
width: 40px;
}



.footer{
height: 78.9513px;
width: 100%;
background-color: #435760;
color: white;
display: flex;
align-items: center;
font-size: 18px;
padding-left: 20px;
}
.powered{
height: 52.7494px;
width: 100%;
background-color: #303f46;
color: white;
display: flex;
align-items: center;
font-size: 15px;
padding-left: 20px;
}
.powered a{
color: white;
border-bottom: white 1px solid;
}
