/* Global Styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body{
    background-color: pink;
    text-wrap: wrap;
    text-align: center;
    max-width: 1300px;
   }
   h1{
    
   }